/* Resetear estilos por defecto del navegador */
body, h2, form, label, input, button, .container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #5a0808;
    text-align: center;
}

.container {
    max-width: 1200px; /* Aumentar el ancho para acomodar tres columnas */
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(213, 191, 134, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos para el formulario */
#registro-form {
    display: flex; /* Usar flexbox para organizar secciones horizontalmente */
    justify-content: space-between; /* Distribuir secciones con espacio entre ellas */
    padding: 20px;
}

.form-section {
    flex: 1; /* Permitir que cada sección ocupe el mismo espacio */
    margin: 0 10px; /* Espaciado horizontal entre secciones */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #3F0D12;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Espacio entre el formulario y el botón de envío */
}

button[type="submit"]:hover {
    background-color: #7b0a15;
}

/* Estilos para el mensaje */
#message {
    color: #ff0000;
    margin-top: 10px;
    font-size: 14px;
}

/* Estilos para los botones de regreso */
button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}


.logoRegistro{
    height:100px;
    width: auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}